.btn {
  height: 2em;
  line-height: 1em;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  &.primary {
    background-color: #000;
    color: #fff;
  }
  &.secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  display: inline-flex;
}
